---

id: nl/documentatie/technisch_beheerder/debuggen

title: Documentatie - Technisch Beheerder - Verbindingsfouten debuggen
lang: nl

layout: nl

---
    
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Verbindingsfouten debuggen</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <!--<a href="/contact" class="btn btn-default btn-lg"><i class="fa fa-inbox fa-fw"></i> <span class="network-name">Contact</span></a>-->
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Symptomen en oorzaken
                    </h2>
                    <p class="lead">Verbindingsfouten kunnen zich uiten op verschillende manieren. Hieronder bespreken we alle bekende varianten en de bijbehorende oorzaken en oplossingen.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Tablet kan de Preekondertiteling website niet openen.
                    </h2>
                    <p class="lead">Als op het icoontje voor preekondertiteling wordt gedrukt, verschijnt niet het blauwe Preekondertitelingsscherm, maar een witte pagina met een foutmelding.</p>
                    <p>
                        Oorzaak 1: de tablet heeft geen verbinding met het draadloze netwerk. Controleer dit rechtsbovenin het tabletscherm.
                    </p>
                    <p>
                        oorzaak 2: de tablet heeft verbinding met een ander draadloos netwerk. Controleer of de tablet wel verbinding heeft met het juiste netwerk.
                    </p>
                    <p>
                        Oorzaak 3: de Preekondertiteling PC staat niet aan.
                    </p>
                    <p>
                        Oorzaak 4: de Preekondertiteling PC is de verbinding met de draadloze router kwijtgeraakt. In dit geval is de PC ook niet te bereiken via VNC. Zie <a href="{% include link id="nl/documentatie/technisch_beheerder/vnc" %}">inloggen op de Server PC via VNC</a>
                    </p>                    
                    <p>
                        Oorzaak 5: de Preekondertiteling PC staat aan, maar Preekondertiteling staat niet aan. Dit is te controleren door vanaf een tablet in te loggen op de Preekondertiteling PC via VNC. Zie <a href="{% include link id="nl/documentatie/technisch_beheerder/vnc" %}">inloggen op de Server PC via VNC</a>.
                    </p>

                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    ...
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        "Socket" foutmeldingen op de Preekondertiteling website/app.
                    </h2>
                    <p class="lead">De preekondertiteling website/app werkt, maar er verschijnen vreemde meldingen in het tekstscherm</p>
                    <p>
                        Oorzaak 1: de Preekondertiteling website is feitelijk in het geheel niet bereikbaar, maar de tablet heeft nog een gecachte versie van de pagina. 
                    </p>
                    <p>
                        De server PC van Preekondertiteling blijft gewoon aanstaan. Andere tabletgebruikers merken alleen dat het probleem is opgelost.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    ...
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <!--<h2>Bedankt!</h2>-->
                </div>
                <div class="col-lg-6">

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
