---

id: nl/documentatie

title: Documentatie
lang: nl

layout: nl

---
    
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Documentatie</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <!--<a href="/contact" class="btn btn-default btn-lg"><i class="fa fa-inbox fa-fw"></i> <span class="network-name">Contact</span></a>-->
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Eindgebruiker
                    </h2>
                    <p class="lead">Documentatie voor diegenen die de tablets van Spraak naar Tekst gebruiken</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <h2 class="section-heading">
                        &nbsp;
                    </h2>
                    <p>
                        <a href="{% include link id="nl/documentatie/eindgebruiker/opstarten" %}">Opstarten van computer, tablet en app</a>
                    </p>
                    <p>
                        <a href="{% include link id="nl/documentatie/eindgebruiker/app" %}">Gebruik van de Spraak naar Tekst app op de tablet</a>
                    </p>
                    <p>
                        <a href="{% include link id="nl/documentatie/eindgebruiker/afsluiten" %}">Afsluiten van computer, tablet en app</a>
                    </p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Technisch beheerder
                    </h2>
                    <p class="lead">Documentatie voor diegenen die in de kerk technische ondersteuning leveren aan de eindgebruikers en contactpersoon zijn voor Spraak naar Tekst</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <h2 class="section-heading">
                        &nbsp;
                    </h2>
                    <p> 
                        <a href="{% include link id="nl/documentatie/technisch_beheerder/vnc" %}">Inloggen op de Server PC via VNC</a>
                    </p>
                    <p>
                        Verbindingsfouten debuggen
                    </p>
                    <p>
                        Extra woorden en/of zinsbouw leren aan het systeem
                    </p>
                    <p>
                        Spraakprofiel bijwerken. Het correctieteam corrigeert tekst en/of preken. Op basis daarvan kan de spraakherkenning verbeterd worden door het zogenaamde 'spraakprofiel' bij te werken. Dit kan het correctieteam doen na een correctie, maar kan ook handmatig gebeuren als de Server het rustig heeft (het spraakprofiel bijwerken kan tot een half uur duren). Voor hoe dit moet, zie onder bij Correctieteam -> Spraakprofiel bijwerken.
                    </p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Correctieteam
                    </h2>
                    <p class="lead">Documentatie voor diegenen die tekst en/of preken corrigeren om de spraakherkenning te verbeteren</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <h2 class="section-heading">
                        &nbsp;
                    </h2>
                    <p>
                        Vanuit thuis inloggen op de Server middels TeamViewer
                    </p>
                    <p>
                        <a href="{% include link id="nl/documentatie/correctieteam/geluidsbestandenvoorbereiden" %}">Een preek (mp3) opknippen in kleinere geluidsbestanden</a>
                    </p>
                    <p>
                        <a href="{% include link id="nl/documentatie/correctieteam/geluidsbestandeninlezen" %}">Geluidsbestand (mp3) inlezen in Nuance</a>
                    </p>
                    <p>
                        Woorden selecteren en verbeteren
                    </p>
                    <p>
                        <a href="{% include link id="nl/documentatie/correctieteam/profiel_bijwerken" %}">Spraakprofiel bijwerken</a>
                    </p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <!--<h2>Bedankt!</h2>-->
                </div>
                <div class="col-lg-6">

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
