---

id: nl/documentatie/correctieteam/woord_correctie

title: Documentatie - Correctie Team - Woorden selecteren en verbeteren
lang: nl

layout: nl

---
    
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Woorden selecteren en verbeteren</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="/docs/Handleiding_correctie.pdf" class="btn btn-default btn-lg"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">Download als pdf</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Woorden selecteren en verbeteren
                    </h2>
                    <p class="lead">Voordat u woorden kunt selecteren en verbeteren moet u de stappen beschreven in 
						<a href="{% include link id="nl/documentatie/correctieteam/geluidsbestandeninlezen" %}">Geluidsbestand (mp3) inlezen in Nuance</a>
						uitgevoerd hebben.
					</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img src="/static/img/documentatie/correctieteam/correctie/uitgeschreven.png"/>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Selecteer te verbeteren woorden door met de linkermuis knop ingedrukt woorden te selecteren.
                    </h2>
                    <p class="lead">Druk vervolgens op de rechtermuisknop en kies "Afspelen". De letterlijk uitgesproken woorden worden nu afgespeeld.</p>
                    <p>
						Door middel van een pijltje boven de woorden wordt aangegeven welk woord bij het geluid hoort.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img src="/static/img/documentatie/correctieteam/WoordenVerbeteren/afspelen.png"/>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Corrigeren van de geselecteerde woorden
                    </h2>
                    <p class="lead">Zorg dat de zojuist afgespeelde woorden geselecteerd zijn, en klik nogmaals met de rechtermuisknop</p>
                    <p>
                        Kies nu echter "Corrigeren" in het menu dat verschijnt.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img src="/static/img/documentatie/correctieteam/WoordenVerbeteren/correctie.png"/>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Correctie suggesties
                    </h2>
                    <p class="lead">Het correctie venster verschijnt nu, wanneer de juiste tekst er tussen staat selecteer deze.</p> 
					<p>
						Wanneer de juiste keuze niet genoemd wordt, kies "Spel dat"
					</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img src="/static/img/documentatie/correctieteam/WoordenVerbeteren/correctieSuggesties.png"/>
					<img src="/static/img/documentatie/correctieteam/WoordenVerbeteren/spelDat.png"/>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
	
	<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Vrije correctie
                    </h2>
                    <p class="lead"></p>
                    <p>
                        Type de juiste woorden in het tekst veld wat nu verschijnt, en klik op 'Toepassen'.
                    </p>
					<p>
						Herhaal deze bovenstaande stappen voor de hele uitgeschreven tekst. Wanneer u alle tekst hebt gecorrigeerd gaat u door naar 
						<a href="{% include link id="nl/documentatie/correctieteam/profiel_bijwerken" %}">Spraakprofiel bijwerken</a>
					</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img src="/static/img/documentatie/correctieteam/WoordenVerbeteren/spelDitVenster.png"/>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
	
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <!--<h2>Bedankt!</h2>-->
                </div>
                <div class="col-lg-6">

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->