
.intro-header {
	padding-top: 60px;
	padding-bottom: 180px;
	color: #fff;
	background: url(../img/header.jpg) no-repeat;
	background-size: cover;
	background-position-y: 20%;
	text-align: right;
}

.intro-header h1, .intro-header h3, .intro-header h5 {
	color: #fff;
}

.intro-message {
	position: relative;
	padding-bottom: 20px;
	padding-right: 35px;
	bottom:40px;
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	padding-left: 40px;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.navbar + .banner {
    margin-top: 50px;
}

.banner h2 {
	color: #fff;
	margin: 0;
	font-size: 3em;
}

.banner-social-buttons {
	margin-top: 20px;
}