---

id: nl/documentatie/eindgebruiker/app

title: Documentatie - Eindgebruiker - App
lang: nl

layout: nl

---
    
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Gebruik van de app</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <!--<a href="/contact" class="btn btn-default btn-lg"><i class="fa fa-inbox fa-fw"></i> <span class="network-name">Contact</span></a>-->
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Spraak naar Tekst app opstarten
                    </h2>
                    <p class="lead">Verzeker u ervan dat de Spraak naar Tekst app aanstaat</p>
                    <p>
                        Als de Spraak naar Tekst app aanstaat, ziet u het scherm zoals rechts.
                    </p>
                    <p>
                        Als u denk dat de tablet nog uitstaat of dat de Spraak naar Tekst app nog niet opgestart is, volg dan de stappen over <a href="{% include link id="nl/documentatie/eindgebruiker/tablet" %}">het opstarten van de tablet en de app</a> en kom daarna hier terug.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    ...
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Schermindeling
                    </h2>
                    <p class="lead">Nu de app gestart is, zien we de schermindeling. Deze ziet er ongeveer uit zoals rechts.</p>
                    <p>
                        Het linkergedeelte van het scherm is het tekstgedeelte: hier komt de tekst van de preek te staan. Net na het opstarten staat hier ook een welkomstbericht en mogelijk wat extra informatie over het stemprofiel, aanvangsttijd of de microfoon.
                    </p>
                    <p>
                        De rechterkant van het scherm bevat een aantal iconen. Als deze iconen niet zichtbaar zijn, moet je één keer op het scherm tikken. De iconen verschijnen dan op het scherm. Na een aantal seconden verdwijnen ze vanzelf weer van het scherm. Op die manier blijft het scherm zo rustig mogelijk en is de tekst zo goed mogelijk te lezen.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    ...
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Status
                    </h2>
                    <p class="lead">Dit gedeelte rechtsbovenin het scherm geeft de status van verbinding weer</p>
                    <p>
                        Als het Spraak naar Tekst icoontje rechtsbovenin het scherm staat (zie linkerafbeelding), is de verbinding in orde. Mocht het Spraak naar Tekst icoontje er staan en er tóch geen tekst op de tablet verschijnen, klik dan op het 'probleemicoon' (zie onder). Dit zorgt ervoor dat op alle andere tablets wordt aangegeven dat er een probleem is. De Technisch Beheerder kan het probleem dan wellicht verhelpen.
                    </p>
                    <p>
                        Als er een draaiend icoontje te zien is (zie rechterafbeelding), is er een verbindingsprobleem. Het heeft geen zin om op het 'probleemicoon' (zie oner) te klikken. Laat de Technisch Beheerder ter plekke weten dat er iets mis is, deze kan het probleem wellicht verhelpen.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    ...
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Lettergrootte
                    </h2>
                    <p class="lead">Met de knoppen voor lettergrootte kan de tekst kleiner of groter gemaakt worden</p>
                    <p>
                        Op die manier kan de Spraak naar Tekst ingesteld worden op een lettergrootte die je prettig vindt.
                    </p>
                    <p>
                        De bovenste knop zorgt voor een grotere lettergrootte.
                    </p>
                    <p>
                        De onderste knop zorgt voor een kleinere lettergrootte.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    ...
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Volledig scherm
                    </h2>
                    <p class="lead">Om helemaal te kunnen concentreren op de tekst, kan de app draaien op volledig scherm</p>
                    <p>
                        Door te klikken op de 'volledig scherm' knop, zal de app het hele scherm gebruiken. Op die manier kan je de tekst beter lezen.
                    </p>
                    <p>
                        Om uit volledig scherm terug te keren naar het 'standaard scherm' tik je nog een keer op de 'volledig scherm' knop.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    ...
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Probleemicoon
                    </h2>
                    <p class="lead">Problemen melden zonder van je plaats op te staan kan met deze knop</p>
                    <p>
                        Als er geen tekst verschijnt terwijl wél het Spraak naar Tekst icoontje rechtsbovenin het scherm staat, kan je op het probleemicoontje klikken.
                    </p>
                    <p>
                        Op dat moment zal de icoon geel kleuren op jouw tablet en óók op alle andere tablets. Zo weet de Technisch Beheerder dat er iets mis is en kan hij het probleem wellicht oplossen.
                    </p>
                    <p>
                        Als het probleem verholpen is (er verschijnt bijvoorbeeld weer tekst), tik je nog een keer op het probleemicoon. De knop zal weer zijn normale kleur krijgen, en de Technisch Beheerder weet dan ook dat het probleem opgelost is.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    ...
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Centrale computer afsluiten
                    </h2>
                    <p class="lead">Om </p>
                    <p>
                        Door te klikken op de onderste knop, zal de computer afgesloten worden en daarmee het preekondertiteling systeem worden afgesloten.
                    </p>
                    <p>
                        Lees hier verder over het <a href="{% include link id="nl/documentatie/eindgebruiker/afsluiten" %}">afsluiten van systeem, tablet en app</a>.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    ...
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <!--<h2>Bedankt!</h2>-->
                </div>
                <div class="col-lg-6">

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->